<div class="card mb-3" id="barcode-container">
  <div class="card-body">
    <div class="input-group">
      <%-if @type == "ws" %>
      <div id="connection" class="input-group-prepend bg-danger">
        <i class='fa fa-plug'></i>
      </div>
      <%-end%>
      <input type="text" name="barcode" class="form-control" id="barcode" placeholder="<%= I18n.t :manual_barcode %>"/>
      <div class="input-group-append">
        <button id="send" type="button" class="btn btn-outline-secondary" data-loading-text="<i class='fa fa-spinner fa-spin '></i> <%=t :loading %>"><%= I18n.t :send %></button>
      </div>
    </div>
  </div>
</div>
