<div class="container" style="margin-top: 1em;" id="info-container">
  <div class="row">
    <div id="data-info" class="col-lg-12"></div>
  </div>
  <div class="row">
    <div id="data-content" class="col-lg-12"></div>
  </div>
</div>